.cv-img {
    width: 100%; 
    max-width: 200px; 
    height: 200px; 
    display: block;
    margin: 0 auto; 
    border-radius: 15px; 
    overflow: hidden; 
}
.icon-text-col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .icon-text-col {
      justify-content: center;
    }
  }