<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lenin Masapanta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content>
    <ion-row class= "info">
      <ion-col size="8">
        <h1>Hola, soy Lennyn</h1>
        <h2>Desarrollador de Software</h2>
        <h4>Listo para llevar mi experiencia al siguiente nivel profesional. Apasionado en aprender y perfeccionar continuamente mis habilidades. De Quito, Ecuador Especializado en crear aplicaciones únicas.</h4>
        <p>📞: 0991462174</p>
        <p>✉️: lenynvega35&#64;gmail.com</p>
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/img/lm.jpg" alt="Foto perfil" class="profile-pic">
      </ion-col>
    </ion-row>

    <h3>Proyectos</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-header>PetZoo</ion-card-header>
            <ion-card-content>Aplicación web para la gestión de turnos de una peluqueria canina, facilitando la organización y reserva de citas de manera eficiente y amigable tanto para los clientes como para el personal del negocio.</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-header>CineClub</ion-card-header>
            <ion-card-content>Software de gestión para una sala de cine, desarrollado en Java, que permite a los usuarios realizar reservas</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-header>SQLSConect</ion-card-header>
            <ion-card-content>Librería para Java diseñada para establecer conexiones con SQL Server, mediante una interfas.</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-header>Plantilla Blog</ion-card-header>
            <ion-card-content>Plantilla de blog desarrollada en HTML y CSS, con un diseño responsivo y atractivo, que permite la visualización de contenido de forma ordenada y agradable.</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3>Tecnologías</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-icon name="logo-javascript"></ion-icon>
          <p>JavaScript</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-react"></ion-icon>
          <p>React</p>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-python"></ion-icon>
          <p>Python</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-icon name="rocket-outline"></ion-icon>
          <p>Astro</p>
        </ion-col>
        <ion-col size="4">
        <ion-icon name="layers-outline"></ion-icon>
          <p>SQL Server</p>
        </ion-col>
        <ion-col size="4">
        <ion-icon name="cafe-outline"></ion-icon>
          <p>Java</p>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-row>
      <ion-col>
        <h3>Sobre Mí</h3>
        <p>Mi nombre es Lenin Masapanta, soy estudiante de Desarrollo de Software en la Escuela Politécnica Nacional(EPN). Me apasiona el arte y la tecnología, donde encuentro mis mayores intereses: el dibujo como expresión artística, la tecnología como una forma de arte del futuro y la cocina como el arte de combinar sabores para crear obras extraordinarias. Me considero una persona confiable y optimista, creyendo que la vida es demasiado corta para preocuparse por cosas simples. Aspiro a inventar algo nuevo utilizando todos mis conocimientos como un logro personal.</p>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>
